.loginPage {
  position: relative;
  padding-top: 0px;
  min-width: 100%;
  overflow: hidden;

}
.login_title {
  font-size: 30px;
  text-align: center;
  color: #8996a3;
}
.login_form {
  margin: 5% auto;
  width: 100%;
}
.login_footer {
  margin: 0 auto;
  width: 100%;
}
