.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
  gap: 16px;
  margin: 0 16px 0 16px;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}
